.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7e6e6;
  color: #6c757d;
  padding: 20px 0;
  text-align: center;
}

.footer .container {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.language-switcher {
  margin: 0 auto;
  max-width: 400px;
}

.external-link {
  color: #6c757d;
  /* add spacing */
  margin: 0 10px;
}
